# Local Docker Compose settings
POSTGRES_USER=monitoring_database_user
POSTGRES_PASSWORD=change_me_local
POSTGRES_DB=monitoring
POSTGRES_PORT=5432

# Used by monitoring-service, migrate and monitoring-data-generator in local compose
DATABASE_URL=postgres://monitoring_database_user:change_me_local@timescaledb:5432/monitoring?sslmode=disable
NATS_URL=nats://nats:4222
